name: Docs Check
on: [push, pull_request]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Markdown Lint
      uses: DavidAnson/markdownlint-cli2-action@v9
      with:
        globs: '**/*.md'
